.card
	position: relative
		
	display: grid
	grid-template: auto 1fr / 100%
	width: 100%

	border: 1px solid rgba(255, 255, 255, 0.12)
	border-radius: 16px
	overflow: hidden

	border: 2px solid transparent
	background: linear-gradient(#000, #000) padding-box, linear-gradient(0deg, rgba(255, 255, 255, .12), rgba(255, 255, 255, .12)), radial-gradient(33.11% 33.11% at -12.8% -14.76%, #fff 0, rgba(255, 255, 255, 0) 100%) border-box
	+t

	&:after
		content: ''
		position: absolute
		left: 0
		bottom: 0

		width: 100%
		height: 1px

		background: linear-gradient(90deg, transparent 0%, $active 50%, transparent 100%)

	+hov
		.card__img img 
			scale: 1.02

	&-wrapper
		display: grid
		+adap('gap', 20, 10)
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

		@media (max-width: 575px)
			grid-template-columns: repeat(auto-fill, minmax(max(40%, 165px), 1fr))

			.card 
				&__title 
					font-size: 14px

				&__price 
					font-size: 18px

				&__content 
					padding: 15px 10px

				&__button 
					.checkbox__text
						gap: 7px
						font-size: 12px

	&-slider 
		@media (max-width: 767px)
			.swiper-slide 
				width: auto !important

			.card 
				min-width: 280px

				&__content 
					display: flex

				&__button 
					width: auto

	 
	&-bg
		position: absolute
		left: 50%
		top: 50%
		z-index: -1
		width: 100vw
		translate: -50% -50%
		object-fit: cover


	&__top 
		position: relative
		z-index: 2
		display: flex
		flex-direction: column
		align-items: flex-start
		gap: 12px

		+adap('padding-top', 20, 12)
		+adap('padding-inline', 20, 12)
		aspect-ratio: 271/232

		// background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.6%, #000 100%)
		overflow: hidden

		&:after
			content: ''

			+abs 
			z-index: 0

			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.6%, #000 100%)
			pointer-events: none 

	&__img
		position: absolute
		left: 0
		top: 0
		z-index: -1
		display: flex
		width: 100%
		height: 100%

		border: 1px solid transparent
		
		overflow: hidden

		&:focus-visible
			z-index: 2
			border-color: $active

		img 
			width: 100%
			height: 100% 

			object-fit: cover
			+t
		
	&__labels 
		position: relative
		z-index: 3

	&__title 
		position: relative
		z-index: 3
		margin-top: auto
		font-weight: 600
		font-size: 20px
		line-height: 1.2

	&__content  
		+adap('padding', 20, 12)
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		gap: 12px

		background: #000
			
	&__count 
		display: none
		min-height: 100%

		.count__button 
			+adap('width', 32, 28)
			+adap('height', 32, 28)

	&__button 
		position: relative

		display: inline-flex
		align-items: center
		min-width: 148px
		+adap('min-height', 48, 44)	
		+adap('padding-inline', 16, 12)

		border: 1px solid $active
		border-radius: 12px

		+t 

		+hov
			.checkbox__text
				color: $active

					
		.checkbox
			&__text 
				display: flex
				align-items: center
				justify-content: center
				+adap('gap', 16, 12)
				width: 100%

				+adap('font-size', 16, 14)
				+t

				svg 
					+adap('width', 20, 16)
					+adap('height', 20, 16)

					fill: currentColor
					transition: none

			&__input
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				margin: 0
				pointer-events: none

				&:before
					border: none
				
				&:disabled
					&~.checkbox__text 
						background: rgba($active, 0.12)
						border-color: transparent
						color: $active
						cursor: not-allowed
						pointer-events: none

				&:checked
					display: none
					
					&~.checkbox__text 
						display: none

					&~.count 
						display: flex !important

	@media (max-width: 575px)
		&__content
			display: grid
			grid-template-columns: 100%
				
		&__button
			width: 100%











































































































