.halls
	&__wrapper
		display: grid
		gap: 40px

	&__item 
		display: grid
		grid-template-columns: percent(730, 1640) 1fr 
		align-items: center
		+adap('gap', 80, 20)
		+adap('padding-right', 76, 16)
		+adap('padding-block', 40, 16)
		+adap('padding-left', 40, 16)

		border: 1px solid rgba(255, 255, 255, 0.2)
		+adap('border-radius', 40, 12)

		overflow: hidden
 
		@media (max-width: #{$firstBreakpoint + px}) or (min-width: #{$firstBreakpoint + 1 + px})
			&-top-left-radius 
				+adap('border-top-left-radius', 380, 20  , $widthTo: 768, $min: true)

			&-bottom-right-radius 
				+adap('border-bottom-right-radius', 380, 20  , $widthTo: 768, $min: true)

			&-bottom-left-radius 
				+adap('border-bottom-left-radius', 380, 20  , $widthTo: 768, $min: true)

			&-top-right-radius 
				+adap('border-top-right-radius', 380, 20  , $widthTo: 768, $min: true)

			&-bottom-right-radius 
				+adap('border-bottom-right-radius', 380, 20  , $widthTo: 768, $min: true)



			&-top-image-radius
				.halls__item-slider
					+adap('border-top-left-radius', 360, 12  , $widthTo: 768, $min: true)
					+adap('border-top-right-radius', 360, 12  , $widthTo: 768, $min: true)

			&-bottom-image-radius
				.halls__item-slider
					+adap('border-bottom-left-radius', 360, 12  , $widthTo: 768, $min: true)
					+adap('border-bottom-right-radius', 360, 12  , $widthTo: 768, $min: true)

			&-right-image
				grid-template-columns: 1fr percent(730, 1640) 

				.halls__item-col
					order: -1

			&-right-image-radius
				.halls__item-slider
					+adap('border-top-right-radius', 360, 12  , $widthTo: 768, $min: true)
					+adap('border-bottom-right-radius', 360, 12  , $widthTo: 768, $min: true)

		&_not-padding 
			position: relative
 
			@media (min-width: 992px)
				+adap('margin-block', 40, 16 , $min: true )

			background: rgba(0, 0, 0, 0.4)
			border: 1px solid rgba(255, 255, 255, 0.12)

			&:after
				content: ''
				position: absolute
				left: 0
				bottom: 0

				width: 100%
				height: 1px

				background: linear-gradient(90deg, transparent 0%, $active 50%, transparent 100%)
			
			.halls__item-title 
				+adap('margin-bottom', 20, 16)

			.halls__item-slider 
				display: flex
				height: 100%

				a 
					display: flex

				img 
					height: 100%	
					object-fit: cover

		&_left-image
			padding-block: 0 !important
			padding-left: 0 !important

			.halls__item-slider
				+adap('border-top-right-radius', 380, 20  , $widthTo: 768, $min: true)
				+adap('border-bottom-right-radius', 380, 20  , $widthTo: 768, $min: true)

			@media (max-width: 991px)
				padding: 0 !important

				.halls__item-col
					+adap('padding-top', 32, 16, 991)
					+adap('padding-inline', 32, 16, 991)

		&_right-image 
			grid-template-columns: 1fr 44.51% 
			padding-block: 0 !important
			padding-right: 0 !important

			.halls__item-col
				order: -1


			@media (max-width: 991px)
				padding: 0 !important
					
				.halls__item-col
					+adap('padding-top', 32, 16, 991)
					+adap('padding-inline', 32, 16, 991)

			.halls__item-slider
				+adap('border-top-left-radius', 380, 20  , $widthTo: 768, $min: true)
				+adap('border-bottom-left-radius', 380, 20  , $widthTo: 768, $min: true)

			@media (max-width: 991px)
				grid-template-columns: 100%


		&-slider 
			border-radius: 12px
			
			overflow: hidden

			a
				+hov
					&:after,
					&:before
						opacity: 1

				&:after
					content: ''

					+abs 
					z-index: 0
					background: radial-gradient(50% 50% at 50% 50%, rgba(16, 16, 16, 0.32) 0%, rgba(16, 16, 16, 0.4) 100%)
					opacity: 0
					+t
					pointer-events: none

				&:before
					content: 'Увеличить'

					position: absolute
					left: 50%
					top: 55%
					translate: -50% -50%
					z-index: 2
					width: 100%
					height: 100%
					display: flex
					align-items: center
					justify-content: center

					background: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.1667 26.8335H31.5M26.8333 22.1668V31.5002M39.417 39.4802L46.6037 46.6668M44.3333 26.8335C44.3333 31.4748 42.4896 35.926 39.2077 39.2079C35.9258 42.4898 31.4746 44.3335 26.8333 44.3335C22.1921 44.3335 17.7409 42.4898 14.459 39.2079C11.1771 35.926 9.33334 31.4748 9.33334 26.8335C9.33334 22.1922 11.1771 17.741 14.459 14.4591C17.7409 11.1772 22.1921 9.3335 26.8333 9.3335C31.4746 9.3335 35.9258 11.1772 39.2077 14.4591C42.4896 17.741 44.3333 22.1922 44.3333 26.8335Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% 41% / 56px no-repeat
					opacity: 0

					+adap('font-size', 20, 16)
					font-weight: 500
					pointer-events: none

					+t

					@media (max-width: 1199px)
						background-position-y: 28%
						background-size: 40px

					@media (max-width: 767px)
						top: 65%
						background-position-y: 20%
						background-size: 36px

					@media (max-width: 575px)
						top: 60%
						+adap('background-position-y', 70, 20)
						background-size: 32px

			picture 
				display: flex

			img 
				width: 100%
				+adap('height', 520, 300)
				object-fit: cover

		&-col 
			+adap('padding-block', 80, 40)

		&-subtitle 
			font-weight: 600
			+adap('font-size', 24, 20)
			text-transform: uppercase
			color: $active

		&-title 
			display: flex
			+adap('gap', 20, 12)
			+adap('margin-bottom', 40, 8)

			span 
				color: $active

			&_not-line 
				display: block

				&:before
					display: none

			&:before
				content: ''

				width: 2px

				border-radius: 2px
				background: $active
				
		&-text 
			+adap('margin-bottom', 40, 16)
			+adap('font-size', 20, 16)
			font-weight: 500
			color: rgba(#fff, .8)
			
		&-list 
			display: grid
			+adap('gap', 8, 4)
			+adap('margin-bottom', 40, 16)

		.halls-list
			&__item 
				display: flex
				align-items: center
				gap: 12px
				padding: 12px	

				+adap('border-radius', 12, 8)
				background: rgba(16, 16, 16, 0.6)

				+adap('font-size', 20, 16)

				&-icon 
					display: flex
					align-items: center
					justify-content: center
					+adap('width', 24, 20)
					+adap('height', 24, 20)
					flex-shrink: 0

					svg 
						max-width: 80%
						max-height: 80%

						fill: none
						stroke: $active

				span 
					color: $active
				
		&-buttons 
			display: flex
			align-items: center
			+adap('gap', 20, 12)

		&-button 
			padding-inline: em(16)
			
	&__pagination 
		position: absolute
		left: 50%
		z-index: 2	
		translate: -50% 0
		+adap('bottom', 20, 16)
		display: block
		overflow: hidden
		white-space: nowrap

		.swiper-pagination-bullet 
			position: relative
			display: inline-block
			margin-inline: 2px
				
			scale: .33

			&-active-next 
				scale: .66

			&-active-main 
				scale: .66

			&-active
				scale: 1

	&__arrow
		position: absolute
		top: 50%
		translate: 0 -50%
		z-index: 3

		border-color: #fff 
		background: #fff

		svg 
			stroke: $bg

		+hov
			border-color: $active

	&__prev 
		+adap('left', 12, 8)

	&__next 
		+adap('right', 12, 8)
	 
	@media (max-width: 991px)
		&__item
			grid-template-columns: 100%	
			border-radius: min(calc(16px + 24px), calc(16px + 24 * ((100vw - 375px) / #{1920-375}))) !important

			&-right-image 
				grid-template-columns: 100% !important

			&-slider 
				border-radius: min(calc(16px + 24px), calc(16px + 24 * ((100vw - 375px) / #{1920-375}))) !important
				overflow: hidden

			&-col 
				order: -1
				padding-block: 0
					
	@media (max-width: 575px)
		&__item 
			&-buttons 
				display: grid
			

		
		
		

		
		
		

		
		
		

