$container575: 430px
$container767: 520px
$container991: 740px
$container1199: 940px

.container
	position: relative
	margin-inline: auto

	@if $useBreakpoint
		max-width: max(100%, $container575)
		padding-inline: $mobilePadding

		@media (min-width: 576px)
			width: $container767
			max-width: none
			padding: 0

		@media (min-width: 768px)
			width: $container991

		@media (min-width: 992px)
			width: $container1199

		@if $firstBreakpoint > 1399
			@media (min-width: 1200px)
				width: 1140px

		@media (min-width: #{$firstBreakpoint + 1 + px})
			width: $container

	@else
		max-width: $container
		+adap('padding-inline', 92, 12)
		box-sizing: content-box
		
		@media (max-width: 575px)
			padding-inline: $mobilePadding


	&-left,
	&-right
		position: relative
		width: 100vw
		max-width: calc(100vw - (100vw - $container575) / 2)
		padding: 0

		@media (min-width: 576px)
			width: calc($container767 + (100vw - $container767) / 2)
			max-width: none

		@media (min-width: 768px)
			width: calc($container991 + (100vw - $container991) / 2)

		@media (min-width: 992px)
			width: calc($container1199 + (100vw - $container1199) / 2)

		@if $firstBreakpoint > 1399
			@media (min-width: 1200px)
				width: calc(1140px + (100vw - 1140px) / 2)

		@media (min-width: #{$firstBreakpoint + 1 + px})
			width: calc($container + (100vw - $container) / 2)

	&-right
		margin-left: auto
		margin-right: 0
		padding-left: $mobilePadding

		@media (min-width: 576px)
			padding-right: 20px
			padding-left: 0

	&-left
		margin-right: auto
		margin-left: 0
		padding-right: $mobilePadding

		@media (min-width: 576px)
			padding-right: 0
			padding-left: $mobilePadding

:root
	--active: #{$active}
	--text: #{$text}

*, *:before, *:after
	box-sizing: border-box

a, button, input, textarea
	-webkit-tap-highlight-color: transparent

a:focus,
button:focus,
input:focus,
textarea:focus
	outline: none 

html
	display: flex
	flex-direction: column
	min-height: 100%

	&:not(.loaded)
		@media (max-width: #{$burgerMedia+px})
			[data-da*="menu2"], ._dynamic_adapt_, .sub-menu-wrapper
				position: absolute
				opacity: 0

			.header  
				opacity: 0 
	 
			[data-lines]
				opacity: 0

	&.safari
		-webkit-text-size-adjust: 100%

		input,
		textarea 
			font-size: 16px !important
				
		input
			appearance: none



[contenteditable]
	outline: none			

@supports not (-webkit-hyphens:none)
	body
		padding-right: 0 !important

body
	position: relative
	display: flex
	flex-direction: column
	flex: 1
	margin: 0

	font-family: $font
	color: $text
	-webkit-tap-highlight-color: transparent
	overflow-x: clip

	&.no-scroll
		overflow-y: hidden

.wrapper
	display: flex
	flex-direction: column
	flex: 1
	overflow-x: clip

.main
	flex: 1

html, body, .header__mobile
	scrollbar-gutter: stable

	// &.scrollbar-auto
	// 	scrollbar-gutter: auto

h1, h2, h3, h4, h5, h6, 
p, ul, ol, dl, dt, dd, 
figure, fieldset, iframe
	margin: 0
	padding: 0

button, a
	cursor: pointer
	color: inherit

	&:focus-visible
		outline: 3px solid $active
		outline-offset: .4em
		border-radius: $border-radius
		z-index: 12

li
	padding: 0
	color: inherit
	list-style: none

button, fieldset
	padding: 0
	border: none
	background: none

a
	text-decoration: none

strong, a, button, li
	font: inherit

input, textarea
	border: none
	background: none
	text-decoration: none
	color: inherit
	font-family: $font
	appearance: none

	&::placeholder
		font: inherit
		color: inherit

input, textarea, [role="combobox"]
	&:focus-visible
		outline: 1px solid $active

textarea
	resize: none
	+scrollbar(100%)

@supports (-webkit-hyphens:none)
	input
		appearance: none
		font-size: 16px !important

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none

input[type=number]
	-moz-appearance: textfield

input[type="submit"],
input[type="button"]
	cursor: pointer

h1, h2, h3, h4, h5, h6
	@media (min-width: 576px) and (max-width: 1199px)
		text-wrap: balance

img
	max-width: 100%
	object-fit: contain

picture
	display: contents

	source
		display: contents

svg
	max-height: 100%
	+t

sup
	font-size: .5em

[data-digits-counter]
	display: inline-block
	white-space: nowrap

[data-lines]
	display: -webkit-box
	-webkit-box-orient: vertical
	overflow: hidden

	&.active
		-webkit-line-clamp: unset
		overflow: visible

.form__fields
	display: grid

.logo
	display: flex

.menu li, a, .tel
	transition: color .3s, background .3s, opacity .3s

.menu
	li
		position: relative
		z-index: 2

	&>li>a 
		+hov
			color: $active

.menu-item:not(.menu-item-has-children)
	.menu-item-arrow
		display: none

.link-button
	display: inline-flex
	justify-content: center
	align-items: center

.hover-active
	@media (any-hover: hover)
		&:hover
			color: $active

.hover-translate
	transition: translate .4s

	+hov
		translate: 0 -3px

.hover-scale
	+t

	[class*="-img"]
		overflow: hidden

		img
			transition: .4s ease-in

	+hov
		[class*="-img"]
			img
				scale: 1.02

.hover-icon
	img, svg
		+t

	+hov
		img, svg
			scale: 1.08

.underline
	+underline

	+hov
		text-decoration-color: transparent

.hover-underline
	+underline
	text-decoration-color: transparent

	+hov
		text-decoration-color: currentColor

[hidden]
	display: none !important

[data-scrolling]
	* 
		user-select: none 

.flex
	display: flex
	+adap('gap', 16, 12)

.flex-wrap
	flex-wrap: wrap

.col, .grid
	display: grid
	grid-template-columns: 100%
	justify-items: start

.grid
	+adap('gap', 16, 12)

.justify-center
	justify-content: center
	justify-items: center

.justify-end
	justify-content: end

.justify-start
	justify-items: start

.justify-between
	width: 100%
	justify-content: space-between

.align-center
	align-items: center

.align-start
	align-items: start
	align-content: start

.align-end
	align-items: end
	align-content: end

.hidd
	display: block
	overflow: hidden
	max-height: 0
	opacity: 0
	transition: max-height .4s ease, opacity .4s ease

	&.show
		max-height: 500px
		opacity: 1

.hidden
	+hidden

.show-xs 
	@media (min-width: 576px)
		+hide-swiper

.hide-xs
	@media (max-width: 575px)
		+hide-swiper

.show-sm 
	@media (min-width: 768px)
		+hide-swiper

.hide-sm
	@media (max-width: 767px)
		+hide-swiper

.show-md 
	@media (min-width: 992px)
		+hide-swiper

.hide-md
	@media (max-width: 991px)
		+hide-swiper

.hide-lg
	@media (max-width: 1199px)
		+hide-swiper

.show-lg 
	@media (min-width: 1200px)
		+hide-swiper

.hide-xl
	@media (max-width: #{$firstBreakpoint+px})
		+hide-swiper

.show-xl 
	@media (min-width: #{$firstBreakpoint + 1 + px})
		+hide-swiper























