$font: 'Montserrat'

$active: #f90
$gray: #DFE4EC
$text: #fff
$bg: #040303
$bg2: #101010
$border-radius: 16px

$minWidth: 320
$maxWidth: 1920

$useBreakpoint: false
$containerWidth: 1760
$mobilePadding: 12px
$firstBreakpoint: 1400

$container: #{$containerWidth+px}

$section_gap: 80
$burgerMedia: 1199
