$checkbox-width: 16px
$checkbox-height: 16px
$checkbox-gap: 16px

$checkbox-active-color: #fff
$checkbox-bg: #fff 
$checkbox-background-size: 55%

$checkbox-border-color: rgba(255, 255, 255, 0.12)
$checkbox-border-radius: 6px 

.checkbox 
	position: relative
	display: flex
	align-items: flex-start 
	justify-self: start
	gap: $checkbox-gap

	user-select: none
	cursor: pointer

	&__input
		position: relative
		
		display: flex
		flex-shrink: 0
		width: $checkbox-width
		height: $checkbox-height
		margin: calc(.5lh - 8px) 0 0

		line-height: inherit
		font-size: inherit

		cursor: pointer

		&:before
			content: '' 

			aspect-ratio: 1

			border: 1px solid $checkbox-border-color
			border-radius: $checkbox-border-radius 

			transition: background-color .3s, border-color .3s
			box-sizing: border-box

		&:after
			content: ''
			position: absolute
			left: 50%
			top: 50%
			translate: -50% -50%

			width: 50%
			height: 50%

			border-radius: 3px
			background: $active
			opacity: 0
			+t(.2)

		&:checked
			&:after
				opacity: 1

		&:disabled~span
			opacity: .4 
			cursor: not-allowed 

		&:focus-visible
			outline: none 
			
			&:before 
				background: light($active, 85%)
				border-color: $active

		&[type="radio"]
			&:before,
			&:after
				border-radius: 50%

			&:checked 
				&:before
					border-color: $active
						
	&__text 
		line-height: inherit

	&-text 
		position: relative

		.checkbox
			&__text 
				+t 

			&__input 
				+hidden 
				
				&:focus-visible+.checkbox__text
					&:after
						content: ''

						position: absolute
						inset: 0
						z-index: -1
						+box-shadow-border($active)
						border-radius: $checkbox-border-radius 

				&:before
					display: none

				&:checked~.checkbox__text
					color: $active


