$size: 48px

.map-wrapper 
	position: relative
	+adap('min-height', 500, 320)
	width: 100%
	
	background: center / cover no-repeat
	overflow: hidden
	border-radius: 16px

.map 
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%

	object-fit: cover

[class*=ymaps-2][class*=-ground-pane]
	filter: saturate(0) brightness(40%)

.ymaps-2-1-79-controls__control_toolbar,
.ymaps-2-1-79-copyright__content-cell,
.ymaps-2-1-79-copyright__link,
.ymaps-2-1-79-gototaxi,
.ymaps-2-1-79-gototech,
.ymaps-2-1-79-gotoymaps,
.ymaps-2-1-79-gotoymaps__container,
.ymaps-2-1-79-listbox__button,
.ymaps-2-1-79-listbox__button-icon
	display: none !important

.loader 
	position: absolute
	top: 0
	left: 0
	z-index: 2
	
	width: 100%
	height: 100%
	
	background-color: rgba($active, 0.4)
	opacity: 0
	
	transition: opacity .3s
	pointer-events: none

	&.is-active 
		opacity: 1

	&:after 
		content: ''
		position: absolute
		top: calc(50% - $size / 2)
		left: calc(50% - $size / 2)
		width: $size
		height: $size
		
		border: solid 8px #fff
		border-left-color: transparent
		border-radius: 50%
		
		animation: rotation .7s linear infinite

@keyframes rotation 
	from 
		transform: rotate(0)

	to 
		transform: rotate(359deg)
	

